cloud_id         = "some_value"
folder_id        = "some_value"
zone             = "some_value"
app_zone         = "some_value"
token            = "some_value"
public_key_path  = "~/.ssh/appuser.pub"
image_id         = "some_value"
subnet_id        = "some_value"
private_key_path = "some_path"
